<h3>All Past Trips for <%=@activity.name%>: </h3>

<% @trips.each do |trip| %>
  <% if trip.taken == true %>
  <ul><%= link_to trip.user.name, user_path(trip.user_id)%>
    <li> <%= trip.date %></li>
    <li> <%= trip.to_hours %></li>
    <li> <%= link_to "More Trip Details", activity_trip_path(trip.activity_id, trip.id) %> </li>
  </ul>
  <%end%>
<%end%>
