
<h2> Activity Name: <%= @trip.activity.name %> </h2>

<div class="info">
<h3> Activity Category: <%= @trip.activity.category %></h3>
<h3> Distance: <%= @trip.activity.distance %> miles</h3>
<h3> Address: <%= @trip.activity.street_address %>, <%= @trip.activity.state %>  </h3>

<% if @trip.taken == false %>
  <%=link_to "Log a Trip", edit_trip_path(@trip), class: "button" %>
<% else %>
  <h2> <%= @trip.user.name %>'s Trip:</h2>
  <h3> Date: <%= @trip.date %> </h3>
  <h3> Time: <%= @trip.to_hours %> </h3>
  <h3> User Comments: <%= @trip.comment %> </h3>
<% end %>
</div>

<%= link_to "See similar Trips taken by other Users", activity_trips_path(@trip.activity.id), class: "button" %>


<% if @trip.taken == true && @trip.user == @current_user %>
  <%=link_to "Edit Trip Details", edit_trip_path(@trip), class: "button" %>
<% end %>
<br>
<% if @trip.user == @current_user %>
  <%=link_to "Delete Trip", "/trip/#{@trip.id}/delete", class: "button" %>
<% end %>
