<h2> Edit Your Profile </h2>

<%= form_for @user, method: :put do |f| %>
  Name: <%= f.text_field :name %> <br>
  Email: <%= f.text_field :email %> <br>
  Age: <%= f.text_field :age %> <br>
  Bio: <%= f.text_field :bio %> <br>
  
  <%= f.submit "Edit Profile" %>
<% end %>
