<h1> Sign Up </h1>

<%= form_for :user, url: '/users', method: :post do |f| %>
  <%= render 'form' %>
  Password: <%= f.password_field :password %> <br>
  Password Confirmation: <%= f.password_field :password_confirmation %> <br>
  <%= f.submit "Sign Up" %>
<% end %>

<!-- Add facebook and google sign in  -->
