<h1> Sign Up </h1>

<%= form_for :user, url: '/users', method: :post do |f| %>
  Name: <%= f.text_field :name %> <br>
  Email: <%= f.text_field :height %> <br>
  Age: <%= f.text_field :happiness %> <br>
  Bio: <%= f.text_field :nausea %> <br>
  Password: <%= f.password_field :password %> <br>
  Password Confirmation: <%= f.password_field :password_confirmation %> <br>
  <%= f.submit "Sign Up" %>
<% end %>
