<h1> <%= @user.name %> </h1>

<h2> Bio: <%= @user.bio %> </h2>
<h2> Age: <%= @user.age %> </h2>

<%= link_to "Log a Trip", "/trips/new" %> <br>
<%= link_to "See All Activities", "/activities" %>

<br>
<div id="most_recent_trip">
  <h2>Most Recent Trip: </h2>
  <h3>Name:<%= @user.trips.last.name %></h3>
  <h3>Distance:<%= @user.trips.last.distance %></h3>
  <h3>Time:<%= @user.trips.last.time %></h3>
  <h3>Date:<%= @user.trips.last.date %></h3>
  <h3>Type:<%= @user.trips.last.type %></h3>
  <h3>Keywords:<%= @user.trips.last.keywords %></h3>
  <h3>Comments:<%= @user.trips.last.comment %></h3>
</div>

<div class="to_do">
  <ul> To Do List:
  <% @user.trips.each do |trip| %>
    <% if trip.taken == false %>
    <li><%= trip.activity_id.name %></li>
  <% end %>
  </ul>
</div>

<div class="past_activities">
  <ul> Past Activities:
  <% @user.trips.each do |trip| %>
    <% if trip.taken == true %>
    <li><%= link_to "#{trip.activity_id.name}", "/trip/#{trip.id}" %></li>
  <% end %>
  </ul>
</div>

<%= link_to "Edit Your Profile", "/user/#{@user.id}/edit" %> <br>
