<h1> <%= @user.name %> </h1>

<h3> Bio: <%= @user.bio %> </h3>
<h3> Age: <%= @user.age %> </h3>

<%= link_to "Log a Trip", "/trips/new" %> <br>
<%= link_to "See All Activities", "/activities" %>


<br>
<% unless @user.trips.length == 0 %>
<div id="most_recent_trip">
  <h2>Most Recent Trip: </h2>
  <h3>Name:<%= @user.trips.last.activity.name %></h3>
  <h3>Distance:<%= @user.trips.last.activity.distance %> miles </h3>
  <h3>Time:<%= @user.trips.last.time_ellapsed %></h3>
  <h3>Date:<%= @user.trips.last.date %></h3>
  <h3>Category:<%= @user.trips.last.activity.category %></h3>
  <h3>Keywords:<% @user.trips.last.activity.keywords.each do |keyword| %>
    <%= keyword.name %>
    <% end %>
  </h3>
  <h3>Comments:<%= @user.trips.last.comment %></h3>
</div>
<% end %>

<div class="to_do">
  <ul> To Do List:
  <% @user.trips.each do |trip| %>
    <% if trip.taken == false %>
    <li><%= trip.activity.name %></li>
    <% end %>
  <% end %>
  </ul>
</div>

<div class="past_activities">
  <ul> Past Trips:
  <% @user.trips.each do |trip| %>
    <% if trip.taken == true %>
    <li><%= link_to "#{trip.activity.name}", "/trips/#{trip.id}" %></li>
    <% end %>
  <% end %>
  </ul>
</div>

<%= link_to "Edit Your Profile", edit_user_path(@user) %> <br>
