<h1> <%= @user.name %> </h1>

<h4> Bio: <%= @user.bio %> </h4>
<h4> Age: <%= @user.age %> </h4>

<div class="button"><%= link_to "Log a Trip", "/trips/new", class: "button" %></div> <br>
<%= link_to "See All Activities", "/activities", class: "button" %>


<br>
<% if @recent_trip %>
<div id="most_recent_trip">
  <h2>Most Recent Trip: </h2>
  <h3>Name:<%= @recent_trip.activity.name %></h3>
  <h3>Distance:<%= @recent_trip.activity.distance %> miles </h3>
  <h3>Time:<%= @recent_trip.time_ellapsed %> minutes</h3>
  <h3>Date:<%= @recent_trip.date %></h3>
  <h3>Category:<%= @recent_trip.activity.category %></h3>
  <h3>Keywords:<% @recent_trip.activity.keywords.each do |keyword| %>
    <%= keyword.name %>
    <% end %>
  </h3>
  <h3>Comments:<%= @recent_trip.comment %></h3>
</div>
<% end %>

<div class="lists">
  <div class="to_do">
    <ul> To Do List:
    <% @user.trips.each do |trip| %>
      <% if trip.taken == false %>
      <li><%= link_to "#{trip.activity.name}", "/trips/#{trip.id}" %></li>
      <% end %>
    <% end %>
    </ul>
  </div>

  <div class="past_activities">
    <ul> Past Trips:
    <% @user.trips.each do |trip| %>
      <% if trip.taken == true %>
      <li><%= link_to "#{trip.activity.name}", "/trips/#{trip.id}" %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div id="clear"></div>
</div>


<%= link_to "Edit Your Profile", edit_user_path(@user), class: "button" %> <br>
