*Required fields

<%= form_for @activity do |f| %>
  <%= f.label "* Name" %>
  <%= f.text_field :name %> <br>
  <%= f.label "Category:" %>
  <%= f.select :category, [ 'Hike','Kayaking','Bike Ride' ] %> <br>
  <%= f.label :distance, "* Distance (in miles)" %>
  <%= f.text_field :distance %> <br>
  <%= f.label :street_address %>
  <%= f.text_field :street_address %> <br>
  <%= f.label :city %>
  <%= f.text_field :city %> <br>
  <%= f.label "* State" %>
  <%= f.select :state, options_for_select(us_states) %> <br>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %> <br>
  <%= f.label :difficulty_rating %>
  <%= f.select :difficulty_rating, [["1: Easy", 1], ["2:Easy to Moderate", 2], ["3: Moderate", 3], ["4: Moderate to Difficult", 4],["5: Difficult", 5]] %> <br>
  <%= f.label :parking, "Parking Available?" %>
  <%= f.select :parking, [["Yes", true], ["No", false]]%> <br>
  <%= f.label :keywords_ids, "Keywords:" %> <br>
  <div class="checkbox">
  <%= f.collection_check_boxes :keyword_ids, Keyword.all, :id, :name, :class => "checkbox_labels" %> <br>
  </div>
  <%= f.label :keywords, "New Keyword:" %>
    <%= f.fields_for :keywords, @activity.keywords.build do |keywords_fields| %>
      <%= keywords_fields.text_field :name %>
    <% end %>
  <%= f.hidden_field :creator_id, :value => "#{@user.id}"%>
    <br>
  <%= f.submit "Submit" %>
  <% end %>
