<h1> All Activities </h1>

<%= link_to "Add a new Activity", '/activities/new' %>

<table>
  <tr>
    <th> Category </th>
    <th> Name </th>
    <th> More Info </th>
    <th>  </th>
    <th>  </th>
  </tr>
  <% unless Activity.all.length == 0 %>
  <tr> <% @activities.each do |activity| %>
    <td> <%= activity.category %> </td>
    <td> <%= activity.name %></td>
    <td> <%= link_to "More details...", "/activities/#{activity.id}" %> </td>
    <td> <%= link_to "Log a Trip", "/trips/new" %> </td>
    <td> <%= link_to "Add to my To Do List", "/trips/new" %> </td>
  </tr> <br>
    <% end %>

  <% end %>
</table>
