<h1> All Activities </h1>

<%= link_to "Add a new Activity", '/activities/new' %>

<div>
  <h3>Filter Activities:</h3>
  <%= form_tag("/activities", method: "get") do %>
    Category:<%= select_tag "category", options_from_collection_for_select(@activities, "id", "category"), include_blank: true %>
    Keywords: <%= select_tag "keywords", options_from_collection_for_select(@keywords, "id", "name"), include_blank: true %>
    State: <%= select_tag "state", options_from_collection_for_select(@activities, "id", "state"), include_blank: true %>
    Distance: <%= select_tag "distance", options_for_select(["Greater than 10 Miles", "5-9.9 miles", "2-4.9 miles", "Less than 2 miles"]), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<table>
  <tr>
    <th> Category </th>
    <th> Name </th>
    <th> More Info </th>
    <th>  </th>
    <th>  </th>
  </tr>
  <% unless Activity.all.length == 0 %>
  <tr> <% @activities.each do |activity| %>
    <td> <%= activity.category %> </td>
    <td> <%= activity.name %></td>
    <td> <%= link_to "More details...", "/activities/#{activity.id}" %> </td>
    <td> <%= link_to "Log a Trip", "/trips/new" %> </td>
    <td> <%= link_to "Add to my To Do List", "/trips/new" %> </td>
  </tr> <br>
    <% end %>

  <% end %>
</table>
