<h1> All Activities </h1>

<%= link_to "Add a new Activity", '/activities/new', :class => "button" %>

<div class= "filters">
  <h3>Filter Activities:</h3>
  <%= form_tag("/activities", method: "get") do %>
    <%= label_tag 'By category:' %>
    <%= select_tag "category", options_for_select([ 'Hike','Kayaking','Bike Ride' ]), include_blank: true %> <br>
    <%= label_tag 'By keyword:' %>
    <%= select_tag "keywords", options_from_collection_for_select(@keywords, "id", "name"), include_blank: true %> <br>
    <%= label_tag 'By state:' %>
    <%= select_tag "state", options_for_select(us_states), include_blank: true %> <br>
    <%= label_tag 'By distance:' %>
    <%= select_tag "distance", options_for_select(["Greater than 10 Miles", "5-9.9 miles", "2-4.9 miles", "Less than 2 miles"]), include_blank: true %><br>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<div class="tabe">
<table id="index">
  <tr>
    <th> Category </th>
    <th> Name </th>
    <th> Distance </th>
    <th>  </th>
    <th>  </th>
  </tr>
  <% unless Activity.all.length == 0 %>
  <tr> <% @activities.each do |activity| %>
    <td> <%= activity.category %> </td>
    <td> <%= activity.name %></td>
    <td> <%= activity.distance %> miles</td>
    <td> <%= link_to "More details...", "/activities/#{activity.id}" %> </td>
    <td> <%= link_to "Add this Activity", new_activity_trip_path(activity.id) %> </td>
  </tr> <br>
    <% end %>
  <% end %>
</table>
</div>
<br>
