<h1> <%= @activity.name %> </h1>

<!-- map image? -->

<%= link_to "Add this Activity to my To Do List", new_activity_trip_path(@activity.id), class: "button" %> <br>

<% if @activity.trips.length > 0 %>
  <%= link_to "See all past Users' Trips for this Activity", activity_trips_path(@activity.id), class: "button" %>
<% end %>

<br>
<br>
<div class="info">
<h2> Address: <%= @activity.street_address %> <%= @activity.city %>, <%= @activity.state %> <%= @activity.zip_code %> </h2>
<h2> Parking Available? <%= @activity.parking %></h2>
<h2> Distance: <%= @activity.distance %> miles </h2>
<h2> Difficulty Rating: <%= @activity.difficulty_rating %> </h2>
<h2> Category: <%= @activity.category %> </h2>
<h2> Number of Past Users: <%= @activity.users.length %> </h2>
<h2> Keywords: <% @activity.keywords.each do |keyword| %> </h2>
  <ul>
    <li> <%= keyword.name %> </li>
  </ul>
  <%end%>

  <% unless @activity.trips.length == 0 %>
<h2> User Comments: <% @activity.comments.each do |comment| %> </h2>
  <ul>
    <li> <%= comment %> </li>
  </ul>
    <%end%>
  <%end%>
</div>
<br>
<% if @creator == @current_user %>
  <%= link_to "Edit this Activity", edit_activity_path(@activity), class: "button" %>
<% end %>
