<h1> <%= @activity.name %> </h1>

<!-- map image? -->

<h2> Distance: <%= @activity.distance %> </h2> <br>
<h2> Difficulty Rating: <%= @activity.difficulty_rating %> </h2> <br>
<h2> Category: <%= @activity.category %> </h2> <br>
<h2> Number of Past Users: <%= @activity.users.length %> </h2> <br>
<h2> Keywords: <% @activity.keywords.each do |keyword| %> </h2>
  <ul>
    <li> <%= keyword.name %> </li>
  </ul>
  <%end%>
  <br>
<h2> User Comments: <%= @activity.trips.each do |trip| %> </h2>
  <ul>
    <li> <%= trip.comment %> </li>
  </ul>
  <%end%>

<br>
<% if @creator == @current_user %>
  <%= link_to "Edit this Activity", edit_activity_path(@activity) %>
<% end %>
