<h1> <%= @activity.name %> </h1>

<!-- map image? -->

<%= link_to "Add this Activity to my To Do List", "/trips/new" %>

<h2> Distance: <%= @activity.distance %> miles </h2> <br>
<h2> Difficulty Rating: <%= @activity.difficulty_rating %> </h2> <br>
<h2> Category: <%= @activity.category %> </h2> <br>
<h2> Number of Past Users: <%= @activity.users.length %> </h2> <br>
<h2> Keywords: <% @activity.keywords.each do |keyword| %> </h2>
  <ul>
    <li> <%= keyword.name %> </li>
  </ul>
  <%end%>
  <br>
<h2> User Comments: <% @activity.comments do |comment| %> </h2>
  <ul>
    <li> <%= comment %> </li>
  </ul>
  <%end%>

<br>
<% if @creator == @current_user %>
  <%= link_to "Edit this Activity", edit_activity_path(@activity) %>
<% end %>
