<!DOCTYPE html>
<html>
  <head>
    <title>RoamApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <img id = "logo" src="/assets/Roam.png" />

  <div class="navbar-header">
    <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
    <a class="navbar-brand" href="<%= '/users/new' %>"/>Sign Up</a>
    <a class="navbar-brand" href="<%= '/signin' %>"/>Login</a>
    <a class="navbar-brand" href="<%= '/activities' %>"/>All Activites</a>
    <% if @current_user %>
    <a class="navbar-brand" href="<%= "/users/#{@current_user.id}" %>"/>Your Profile</a>
    <% end %>
    <a class="navbar-brand" href="<%= '/logout' %>"/>Log Out</a>
  </div>
  <br>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
