
<h2> Activity Name: <%= @trip.activity.name %> </h2>
<h3> Distance: <%= @trip.activity.distance %> miles</h3>
<h3> Address: <%= @trip.activity.street_address %>, <%= @trip.activity.state %>  </h3>
<%binding.pry %>
<% if @trip.taken == false %>
  <%=link_to "Log a Trip", edit_trip_path(@trip) %>
<% else %>
  <h3> Date: <%= @trip.date %> </h3>
  <h3> Time: <%= to_hours(@trip.time_ellapsed) %> </h3>
  <h3> User Comments: <%= @trip.comment %> </h3>
  <%=link_to "Edit Trip Details", edit_trip_path(@trip) %>
<% end %>
